
.inlined {
    display: inline-block;
}

.inlined .myButton {
    margin-left: -2px;

}

.noRes {
    font-size: 16px;
    margin-bottom: 20px;
}

.noResMessage {
    font-size: 22px;
    text-align: center;
    margin-top: 30%;

}