
.Stat {
    margin-top: 10px;
    font-size: 20px;
    color: #c8c3c0;
    box-sizing: border-box;
    text-align: center;
    background-color: #ffffff;
    width: 30%;
    margin-left: 10px;
    float: left;
    box-shadow: 0 0 11px rgba(0, 0, 0, .2);
    margin-bottom: 20px;

}

.Stat .head {
    margin-top: 10px;
    margin-bottom: 10px;
    color: #4e4e4e;
    font-size: 18px;
}

.twist, .follower, .following {
    margin: 10px;
    box-shadow: 0 0 1px rgba(0, 0, 0, .2);
    padding: 10px;
    overflow: hidden;
    background-position: center;
    transition: background 0.8s;
    cursor: pointer;
    white-space: nowrap;
    color: #4e4e4e;
    font-size: 13px;
    font-weight: bold;

}

.twist:hover, .follower:hover, .following:hover {
    background: radial-gradient(circle, transparent 1%, #F9F9F9 1%);

}

.sendRequest {
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 10px;

}

.sendRequest a {
    font-size: 20px;

}

.sendRequest:hover {
    background: radial-gradient(circle, transparent 0.1%, #ededed 0.1%);

}

.approvement {

    text-align: center;
}

.Approuve .photo a .profile {
    height: 45px;
    width: 45px;

}